.meeting {
	width: 20vw;
	border: 1px solid transparent;
	border-radius: 6px;
	height: 260px;
	background-color: white;
	margin: auto;
}

.meeting__img {
	width: 100%;
	height: 50%;
	border: 1px solid transparent;
	border-radius: 6px;
}

.meeting__description {
	text-align: left;
	padding: 2px;
	margin-left: 3px;
}
